#grid_list > tbody > tr > td{
	vertical-align: middle;	
	display: table-cell;
}
.swal2-popup {
  font-size: 1.6rem !important;
}
.fa-hover{
	text-align: center !important
}

ul{
	padding: 0px!important
}

ul.docs-icons li:hover{
	background: #3c8dbc!important;
	cursor:pointer;
	border-radius:3px;
}

ul.docs-icons li {
    float: left;
    width: 20%;
    margin-bottom: 20px;    
    padding: 0 15px;
    font-size: 22px !important;
	color: #000;
	list-style: none;
	text-align: center
}